<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Robot World</title>
</head>
<body>
  <form action="/robots" method="post">
    <p>Enter a new robot:</p>
    <p>Name:</p><input type='text' name='robot[name]'/><br/>
    <p>City:</p><input type='text' name='robot[city]'/><br/>
    <p>State:</p><input type='text' name='robot[state]'/><br/>
    <p>Department:</p><input type='text' name='robot[department]'/><br/>
    <input type='submit'/>
  </form>
</body>
</html>
